@import '../../styles/vars';
@import '../../styles/functions';

.ts-main {
    &__slider {
        margin: 0 vsize(-55px);
        padding: 0 vsize(55px);
        overflow: hidden;

        &-item {
            height: vsize(264px);
        }

        .swiper-container {
            overflow: visible;
        }
    }

    &__posts {
        margin-top: vsize(80px);
    }
}