@font-face {
    font-family: 'IBM Plex Serif';
    font-weight: 400;
    src: local('IBM Plex Serif'), url('../../public/fonts/IBMPlexSerif-Regular.ttf') format('truetype');
    //font-display: swap;
}