@import './functions';

// colors
$accent-color: #d0455e;
$black-color: #333333;
$grey-color: #999999;
$pale-color: #f3f1f0;
$white-color: #ffffff;

// other
$page-padding: vsize(55px);
$border-radius: 16px;