@import '../../styles/functions';

.ts-header {
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        box-sizing: border-box;
        height: vsize(32px);
        width: vsize(32px);
        padding: vsize(2px);
        cursor: pointer;
    }
}