@import '../../styles/vars';
@import '../../styles/functions';

.ts-slider {
    height: 100%;
    width: 100%;
    
    &__wrapper {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(3, vsize(474px));
        gap: vsize(24px);
        padding: 0 $page-padding;
        pointer-events: none;
    }

    &__item {
        height: vsize(264px);
    }
}