@import '../../styles/vars';
@import '../../styles/functions';

.ts-404 {
    height: 100%;
    width: 100%;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__img {
        height: vsize(204px);
        width: vsize(480px);
    }

    &__button {
        margin-top: vsize(80px);
        pointer-events: all;
    }
}